body {
	background: url('../img/background1920x1080.jpg') no-repeat;
	font-family: Scada, sans-serif;
}
#play-button {
	border: 3px solid rgba(255, 255, 255, 0.8);
	color: rgba(255, 255, 255, 0.8);
	border-radius: 100%;
	height: 130px;
	width: 130px;
	font-size: 6rem;
	background: none;
	text-align: center;
	margin-bottom: 28px;
}
#play-button:hover, .play-button.playing:hover {
	background-color: rgba(255, 255, 255, 0.8);
	color: rgb(51, 51, 51);
}

.navbar-default {
	background: none;
	border-color: transparent;
}
.navbar-nav {
	color: rgb(51, 51, 51);
	font-size: 2rem;
}
.navbar-nav>.active>a {
	background-color: #FD5433;
	color: white;
}
#waveform {
	width: 100%;
}

.hidden {
	display: none;
}

.left-toolbar {
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 15px;
}

.right-toolbar {
	position: fixed;
	right: 0;
	bottom: 0;
	padding: 15px;
	width: 400px;
}
.offset {
	height: 20vh;
	width: 100%;
}

.now-playing {
	text-align: center;
}
.now-playing span {
	display: inline-block;
	background-color: rgba(255, 255, 255, 0.7);
	padding: 0 12px;
	margin: 2px;
	font-family: Scada, sans-serif;
	font-size: 4rem;
}

.now-playing span:hover {
	background-color: rgba(255, 255, 255, 0.9);
}

.show-description {
	font-family: Scada, sans-serif;
	font-size: 2rem;
	margin: 2.5rem;
	padding: 2rem 1.5rem;
	line-height: 140%;
}

.show-description span {
		background-color: rgba(0, 0, 0, 0.7);
		color: rgba(255, 255, 255, 0.8É);
}

.track {
	font-style: italic;
	font-weight: bold;
}

.vignettage {
	position: fixed;
	z-index: -1;
}

#vignettage-top {
	top: 0;
	height: 70px;
	width: 100%;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent);
}

#vignettage-bottom {
	bottom: 0;
	height: 70px;
	width: 100%;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
}

#vignettage-right {
	right: 0;
	width: 70px;
	height: 100%;
	background: linear-gradient(to left, rgba(0, 0, 0, 0.8), transparent);
}

#vignettage-left {
	left: 0;
	width: 50px;
	width: 100%;
	background: linear-gradient(to right, rgba(0, 0, 0, 0.8), transparent);
}
/*#song-request {
	width: 100px;
}
