{% extends "index.html" %}
{% load static %}

{% block content %}
<div class="radio-container">
  <div class="emission-panel">
    <div class="emission-panel-content">
      <div class="emission-header">
        <img src="{% static 'radio/img/cover-' %}{{ emission.id }}.jpg" class="emission-image"/>
        <div class="emission-infos"><h1 class="emission-title">{{ emission.nom }}</h1>
        <div class="emission-details">
          <span>
            <i class="fa fa-user"></i>{% for anim in emission.contributeurs.all %}
            <a class="contributeur" href="{% url 'radio:animateur_details' anim.id %}">{{anim.prenom}} {{anim.nom}}{% endfor %}</a>
          </span>
          <span>
            <i class="fa fa-headphones"></i> 9 épisodes
          </span>
        </div></div>
      </div>
      <p class="emission-description">
        {{ emission.description}}
      </p>
    </div>
    <div class="display-more" id="display-all" onclick="$('.episodes').toggle();"><i class="fa fa-ellipsis-h"></i></div>
  </div>
  <div class="episodes" hidden>
    {% for episode in derniers_enregistrements %}
    <div class="episode-panel">
      <i class="fa fa-play" onclick="playPauseById(this, 'audio-{{episode.id}}');"></i>
      <a href="{% url 'radio:enregistrement_details' episode.id %}">
        {{ emission.nom }} #{{episode.edition_id}} : {{episode.titre}}
      </a> -
      <span class="episode-date">le {{ episode.date_diffusion|date:'d/m' }}</span>
      <audio id="audio-{{episode.id}}" src="{% static 'radio/audio/demo.wav' %}"/>
    </div>
    {% endfor %}
  </div>
</div>






<!--
<div class="radio-container">
  <h1>{{ emission.nom }}</h1>
  <p>{{ emission.date_derniere_diffusion }} </p>
  <h3>Dernières émissions :</h3>
  <ul> {% for ep in derniers_enregistrements %}
    <li class="episode-details">
      <h3><span class="emission-titre">
        <a href="{% url 'radio:enregistrement_details' ep.id %}">
          {{ ep.emission.nom }} #{{ ep.edition_id }} : {{ ep.titre}}
        </a></span>
      </h3>
      <h4><span class="titre">Emission du {{ ep.date_diffusion|date:'d/m'}}</span></h4>
      <p><span class="description">{{ ep.description }}</span></p>
      <button type="button" class="bouton-xray" onclick="togglePlayPause(this, 'enregistrement-{{emission.id}}-{{ep.edition_id}}');"><i class="fa fa-play"></i>Ecouter</button>
      <div id="enregistrement-{{emission.id}}-{{ep.edition_id}}" class="waveform-container">{{ep.emission_url}}</div>
    </li>
    {% endfor %}
  </ul>
</div>-->
{% endblock %}
