{% extends "index.html" %}
{% load static %}
{% block content %}
<div class="radio-container">
  <div class="emissions-liste">
    {% for emission in emissions %}
      <div>
        <div class="emission-details">
          <div class="">
            <!--<img class="emission-image" src="{% static 'radio/img/default.jpg' %}">-->
          </div>
          <div class="emission-infos">
            <h3><span class="emission-titre"><a href="{% url 'radio:emission_details' emission.id %}">
            {{emission.nom}}</a></span></h3>
            <h4><span class="emission-titre">Avec
              {% for contributeur in emission.contributeurs.all %}
                <span class="contributeurs-item"><a href="{% url 'radio:animateur_details' contributeur.id %}">
                   {{contributeur.prenom}} {{contributeur.nom}}
                </a></span>
              {% endfor %}
            </span></h4>
            <p><span class="emission-description description">{{emission.description}}</span></p>
            {% if emission.dernier_episode %}
            <p class="reecouter-emission"><a class="lien-emission" href="{% url 'radio:enregistrement_details' emission.dernier_episode.id %}">
              <i class="fa fa-play"></i>Réécouter la dernière émission
              ( {{ emission.dernier_episode.date_diffusion|date:'d/m'}} ) : {{ emission.dernier_episode.titre}}
            </a></p>
            {% endif %}
          </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
