.radio-container {
  margin: 0 auto;
  margin-top: 4rem;
}

@media screen and (min-width: 1px){
.radio-container {
  width: 100%;
  padding: 0;
}}

@media screen and (min-width: 700px){
  .radio-container {
    width: 95%;
    padding: 4rem 4rem
  }
}


@media screen and (min-width: 1000px) {
  .radio-container {
    width: 900px;
  }
}





.emission-details, .episode-details, .faq-item {
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 2px;
  box-shadow: 0 0 0.5rem 0 rgba(50, 50, 50, 0.7);
  background-size: cover;
}

.emission-details:hover, .episode-details:hover, .faq-item:hover {
  box-shadow: 0 0 0.5rem 0.1rem rgba(50, 50, 50, 0.7);
}

.faq-item {
  background-size: cover;
}

.emission-titre  a, .titre {
  text-decoration: none;
  color: rgba(55, 55, 55, 1.0);
  background-color: rgba(220, 220, 220, 0.7);
  padding: 0.4rem 0.8rem;
}
.emission-titre a:hover, .titre:hover {
  background-color: rgba(220, 220, 220, 0.9);
}

h3 .emission-titre, h3 .titre {
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
}

h4 .emission-titre, h4 .titre {
  font-size: 1.4rem;
}

.emission-titres {
  margin-bottom: 4rem;
}
.contributeurs-item {
  margin-right: 0.5rem;
}

.description {
  background-color: rgba(220, 220, 220, 0.7);
  color: rgba(50, 50, 50, 1);
  font-size: 1.8rem;
  line-height: 200%;
  padding: 0.4rem 0;
  margin: 1.5rem 0;
}
.description:hover {
  background-color: rgba(220, 220, 220, 0.9);
}


.reecouter-emission {
  margin-top: 2.5rem;
}
.reecouter-emission a, .bouton-xray {
  border: 1px solid transparent;/*rgba(220, 220, 220, 0.7);*/
  padding: 0.9rem 1.9rem;
  background-color: rgba(50, 50, 50, 0.5);
  color: rgba(220, 220, 220, 1);
  border-radius: 10rem;
}

.reecouter-emission a:focus, .bouton-xray:focus {
  outline: none;
  border-color: rgba(220, 220, 220, 1);
}

.reecouter-emission a:hover, .bouton-xray:hover {
  color: white;
  background-color: #D63B27;
  border-color: #D63B27;
  /*border-color: rgba(220, 220, 220, 0.9);
  background-color: rgba(220, 220, 220, 0.7);
  color: rgba(50, 50, 50, 1);*/
}

.reecouter-emission .fa, .bouton-xray .fa {
  margin-right: 1rem;
}
