body {
  font-family: Scada, sans-serif;
  /*background: url("img/background1920x1080.jpg") repeat-y top left;*/
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
  /*background: linear-gradient(to bottom, white, white 70%, transparent);*/
}

nav li {
  display: inline-block;
}
nav li:hover {
}

ul {
  padding: 0;
}
li {
  list-style-type: none;
}

a, a:hover {
  text-decoration: none;
}

nav a{
  display: inline-block;
  padding: 0.8rem 2rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

nav a:hover {
    background-color: rgba(230, 230, 230, 0.8);
}
/*
.emission-image {
  width: 10rem;
}
