.animateur-img {
  width: 20rem;
  display: inline-block;
  border-radius: 2px;
  vertical-align: top;
  box-shadow: 0 0 0.5rem 0 rgba(50, 50, 50, 0.7);
}

.animateur-img img {
  width: 100%;
}

.animateur-infos {
  display: inline-block;
}

.animateur-infos p, .animateur-infos h3 {
  display: inline-block;
}

.animateur {
  margin-bottom: 3rem;
  vertical-align: top;
}
