.emission-wrapper {
  margin-bottom: 5rem;
}
.emission-panel {
  padding: 0;
}
.emission-panel-content {
  position: relative;
  padding: 3rem;
  padding-bottom: 2rem;
}
.emission-header {
  margin-bottom: 2rem;
}
.emission-header img {
  display: inline-block;
  height: 15rem;
  width: 15rem;
  //margin-top: -15rem;
  border-radius: $radius-s;
  box-shadow: $shadow;
  vertical-align: top;
  position: absolute;
  top: -2rem;
  left: 3rem;
}
.emission-infos {
  display: inline-block;
  padding-left: 18rem;
  min-height: 10rem;
  box-sizing: border-box;
}
.emission-infos h1 {
  font-weight: bold;
  text-transform: uppercase;
  color: $dark-gray;
  font-size: 3rem;
  margin: 0;
}
.emission-description {
  padding: 0;
  margin: 0;
}
.display-more {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  border-radius: 0 0 $radius-s $radius-s;
}
.display-more:hover {
  background-color: $light-gray;
}

.episode-panel {
  padding: 2rem;
  margin: 0;
  background-color: $very-light-gray;
  color: $dark-gray;

  a, a:visited, a:hover {
    color: $dark-gray;
  }
  a:hover {
    border-bottom: 2px solid $dark-gray;
  }

  .fa {
    margin-right: 0.5rem;
    cursor: pointer;
  }

  .episode-date {
    font-style: italic;
    color: $red;
  }
}
.episode-panel:nth-of-type(even) {
  background-color: white;
}
.episode-panel:last-of-type {
  border-radius: 0 0 $radius-s $radius-s;
}
