nav {
  padding: 1rem 0;
  width: 100%;
  white-space: nowrap;

  li {
    width: 20%;
    text-align: center;
    box-sizing: border-box;
  }
  a, a:hover, a:visited, a:focus {
    color: white;
    outline: none;
  }
  a:hover, a:focus {
      border-bottom: 2px solid white;
      background-color: transparent;
  }
}
