// Colors :
$light-red: #FF424D;
$red: #F7404B;
$dark-red: #A82C33;

$orange: #FF860F;

$turquoise: #00fa9f;
$dark-turquoise: #0bd38a;
$very-dark-turquoise: #0aae72;

$light-blue: #00fad4;

$very-light-gray: #EFEFEF;
$light-gray: #EAEAEA;
$gray: gray;
$dark-gray: #404040;

// Gradients :
$turquoise-blue-gradient:  -webkit-linear-gradient(left, $turquoise 0rem, $light-blue 10rem) no-repeat;

// Border-radius :
$radius-s: 4px;
$radius-m : 8px;

$shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
